name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  example:
    name: example
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v4
      - name: Install clang
        uses: ConorMacBride/install-package@v1
        with:
          apt: clang
      - name: Install GOAT
        run: go install .
      - name: Run GOAT
        run: goat src/avx_mul_to.c -O3 -mavx -mfma
        working-directory: example
